<nav class="navbar navbar-secondary bg-secondary">
  <div class="container">
    <%= link_to "Catatouille", restaurants_path, class: "navbar-brand link-light" %>
    <%= link_to 'New Restraunt', restaurants_new_path, class: 'btn btn-secondary border'  %>
  </div>
</nav>
